@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap');
:root {
  /* Primary Brand */
  --primary: #6c63ff;
  --primary-dark: #5f35f3;
  --primary-light: #9258f5;

  /* Secondary */
  --secondary: #6e94f8;
  --secondary-light: #b7c9e0;

  /* Background */
  --bg-main: #f7f7fa;
  --bg-white: #ffffff;

  /* Text */
  --text-primary: #0c152e;
  --text-secondary: #5b5f6c;
  --text-muted: #a0a1ae;

  /* Accent */
  --accent-purple: #ccb0f3;
  --accent-lavender: #aba7e2;

  /* Success */
  --success: #22c55e;

  /* Border */
  --border: #e5e7eb;

  /* Footer */
  --footer-bg: #0c152e;
  --footer-light: #26304e;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  letter-spacing: -0.03em;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 80%;
  margin: auto;
}